html{
    font-family: sans-serif;
    background-color: white;
    color:black;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  margin: 0px;
}
.hero{
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.herobg{
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    height: auto;
    max-width: 100%;
}
.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-startx;
    align-self: self-start;
}
h1{
    font-family: JetBrains Mono,monospace;
    margin: 0px;
    font-size: 4vw
}
h2{
    margin:0rem;
    margin-left: 0.4rem;
    font-size: 2vw;
    font-family: Google Sans,Roboto,Helvetica Neue,sans-ser;
}
.infoimg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
head font weight 700
sub font *font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


*/
@media (min-width:1000px)
{
    body{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}