html{
    font-family: sans-serif;
    background-color: #182747;
    color:#182747;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  margin: 0px;
  width:100%;
  height: auto;
  background-color: #D8D8D8;
}
.hero{
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.herobg{
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    height: auto;
    max-width: 100%;
}
.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-startx;
    align-self: self-start;
}
h1{
    font-family: JetBrains Mono,monospace;
    margin: 0px;
    font-size: 6vw;
    color :#182747;
}
h2{
    margin:0rem;
    margin-left: 0.4rem;
    font-size: 2vw;
    font-family: Google Sans,Roboto,Helvetica Neue,sans-ser;
    color:#8e8c8c;
}
h3{
    font-family: JetBrains Mono,monospace;
    font-weight: bold;
    max-width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 1rem 0rem 1rem 1rem;
    /* border: 1px solid black; */
    color:#D8D8D8;
    background-color:  #182747;
  
}
h4{
    margin: 1rem 0rem 2rem ;
    font-family: JetBrains Mono,monospace;
    color: black;
}
span
{
    font-size: 1.3rem;
    font-family: JetBrains Mono,monospace;
    color:black;
}
p{
    margin-top: 0rem;
    font-size: 1.1rem;
    line-height: 1.8;
    color:black;    
}

.infoimg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;

}
.skill{
    width: auto;
    background-color: 647E68;
  
    
}
.skill-top{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        gap:0px;
        place-items: start;
}
.skill-main{
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}
.skill-para{
    margin-top: 1rem;
}
.Project-main{
    display: flex;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
}

/*
head font weight 700
sub font *font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


*/
@media (min-width:1000px)
{
    html{
        margin-left: 2rem;
    }

}